body {
	background-color:#000;
	margin:0;
	overflow:hidden;
	background-repeat:no-repeat;
	font-family:MS Trebuchet;
}

#lightning {
	width:2012px;
	height:902px;
	display:none;
	background-repeat:no-repeat;
	height:1100px;
}

#nomusic {
	position:fixed;
	right:0px;	
	display:none;
	z-index:1;
}

	#nomusic img {
		border:none;
	}

#loading {
	color:#666;
}

#footer {
	color:#333;
	position:fixed;
	bottom:0;
	right:0;
}

	#footer a {
		color:#333;
	}

#more {
	background-color:#000;
	position:fixed;
	bottom:0;
	right:0;
	padding:0.5em;
	display:none;
  color:#999;
  z-index:10;
}
  #more a {
    color:#990000;
    font-weight:bold;
  }
  
  #more #credits {
  	font-size:75%;
  	margin-top:3em;
  	color:#222;  	
  }
  
  	#more #credits a {
  		color:#333;
  	}
  	
#twitter {
	color:#666;
	font-size:80%;
	float:left;
}

h1, h2, h3 {
	display:none;
}
body {
	/*background-image:url(body.jpg);*/
}

h1 {
	margin:0;
	font-size:700%;
	z-index:1;
	text-align:center;
	position:absolute;
	width:100%;
	top:200px;
}

h2 {
	margin:0;
	font-size:200%;
	width:100%;
	z-index:1;
	font-family:Verdana;
	text-align:center;
	letter-spacing:-1px;
	top:330px;
	position:absolute;
}

h3 {
	width:100%;
	top:450px;
	position:absolute;
	margin:0;
	font-size:200%;
	z-index:1;
	text-align:center;
}

span {
	color:#fff;
	position:absolute;
	font-size:300%;
	z-index:2;
	font-family:Verdana;
}
