body {
	background-color:#000;
	margin:0;
	overflow:hidden;
	background-image:url(body.jpg);
	background-repeat:no-repeat;
	font-family:MS Trebuchet;
}

#lightning {
	width:2012px;
	height:902px;
	display:none;
	background-image:url(back.jpg);
	background-repeat:no-repeat;
}

#nosound {
	position:absolute;
	right:-30px;	
}

h1 {
	margin:0;
	font-size:700%;
	z-index:1;
	text-align:center;
	display:none;
	position:absolute;
	width:100%;
	top:200px;
}

h2 {
	margin:0;
	font-size:200%;
	width:100%;
	z-index:1;
	font-family:Verdana;
	display:none;
	text-align:center;
	letter-spacing:-1px;
	top:330px;
	position:absolute;
}

h3 {
	width:100%;
	top:450px;
	position:absolute;
	margin:0;
	font-size:200%;
	z-index:1;
	display:none;
	text-align:center;
}

span {
	color:#fff;
	position:absolute;
	font-size:300%;
	z-index:2;
	font-family:Verdana;
}
